* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('https://www.wallpapertip.com/wmimgs/173-1739030_wallpaper-hd-cloudy-weather-unique-hd-wallpapers-hd.jpg')
    no-repeat center center/cover;
  color: #fff;
  height: 110vh;
}

.col-celsius-fahrenheit h3 {
  display: inline;
  margin-right: 10px;
}

.row .info {
  position: relative;
  top: 10px;
  right: 0;
}

label {
  font-size: 18px;
  font-family: cursive;
}

input {
  background-color: #fff;
  outline: none;
  border: none;
  padding: 4px 0;
  margin-right: 5px;
  font-family: cursive;
}

.right-col {
  font-family: cursive;
  font-size: 20px;
}

p {
  font-family: cursive;
}

ul {
  list-style-type: none;
}

li {
  font-family: cursive;
  text-align: center;
  font-size: 16px;
}

li.icons {
  font-size: 30px;
  color: rgb(6, 54, 90);
}

#icons {
  width: 60px;
}

@media (max-width: 698px) {
  footer p {
    color: #fff;
  }
}
